[submodule "src/atlas_fusion/calibrations"]
	path = src/atlas_fusion/calibrations
	url = https://github.com/Robotics-BUT/Brno-Urban-Dataset-Calibrations.git
[submodule "src/atlas_fusion/libs/robotic-template-library"]
	path = src/atlas_fusion/libs/robotic-template-library
	url = https://github.com/Robotics-BUT/Robotic-Template-Library.git
